# Python
__pycache__/
*.py[cod]
*.pyo

# PyInstaller
build/
dist/
bin/
lib/
lib64/
include/
*.spec

# Virtual environments
venv*/
.venv/

# OS
.DS_Store
Thumbs.db

# Generated output
codici
opzioni.json
opzioni.txt
